header { 
  text-align: left;
}

body {
  color: rgb(179, 166, 193);
  background-color: rgba(238, 193, 234, 20%);
  font-family: "Epilogue", sans-serif;
  margin: 2px;
}

hr {
  border: 1px solid rgb(190, 151, 220, 40%);
}

strong {
  color: rgb(252, 213, 63);
}

a {
  text-decoration: none;
  color: rgb(163, 116, 213);
}

a:hover {
  color: rgb(90, 63, 119);
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: 14px; 
  padding: 6px;
}

.app-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 14px;
}

.search-input, 
.search-button {
  font-size: 14px;
  margin: 6px;
}

.search-input {
  background: rgba(238, 193, 234, 20%);
  width: calc(100% - 24px);
  max-width: 340px;
  border: none;
  border-radius: 5px;
  padding: 12px;
}

.search-button { 
  background: rgb(190, 151, 220);
  color: rgb(255, 255, 255);
  width: 64px;
  padding: 8px;
  border: 1px solid rgb(190, 151, 220);
  transition: all 100ms ease-in-out;
  border-radius: 10px;
}

.search-button:hover { 
  background: rgb(255, 255, 255);
  color: rgb(190, 151, 220);
  cursor: pointer;
}

.place-container, .current-city, .current-time {
  display: flex;
  justify-content: space-between;
  color: rgb(163, 116, 213);
  font-weight: 600;
}

.temperature-container {
  display: flex;
  justify-content: center;
  color: rgb(90, 63, 119);
  font-size: 60px;
  line-height: 88px;
  font-weight: 600;
  padding: 2px;
}

.temperature-icon {
  margin-top: 10px;
  width: 64px;
  height: 64px;
}

.temperature-unit {
  margin-bottom: 8px;
  font-size: 28px;
}

.current-temperature {
  display: flex;
  justify-content: center;
}

.temperature-description {
  font-size: 26px;
  padding: 2px;
}
