/* General Styles */
body {
  color: rgb(179, 166, 193);
  background-color: rgba(163, 116, 213, 0.2);
  font-family: "Epilogue", sans-serif;
  margin: 2px;
  padding: 4px;
}

header, .app-container {
  text-align: left;
}

strong, .weather-forecast-temperatures {
  color: rgb(246, 194, 30);
}

a {
  text-decoration: none;
  color: rgb(163, 116, 213);
}

a:hover {
  color: #4f3b78;
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

hr {
  border: 1px solid rgba(190, 151, 220, 0.3);
}

/* App Container */
.app-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 80%);
  max-width: 580px;
  margin: 34px auto;
  padding: 24px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 14px;
}

/* Search Input and Button */
.search-input, 
.search-button {
  font-size: 14px;
  margin: 6px;
}

.search-input {
  background: rgba(163, 116, 213, 0.08);
  width: calc(100% - 24px);
  max-width: 340px;
  border: none;
  border-radius: 5px;
  padding: 12px;
}

.search-button {
  background: rgb(196, 187, 240);
  color: #fff;
  width: 64px;
  padding: 8px;
  border: 1px solid rgb(196, 187, 240);
  transition: all 100ms ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

.search-button:hover {
  background: #fff;
  color: rgb(196, 187, 240);
}

/* Temperature and Date Containers */
.date-container {
  display: flex;
  justify-content: right;
  color: rgb(146, 127, 191);
  font-weight: 600;
}

.temperature-container {
  display: flex;
  justify-content: center;
  color: rgb(79, 59, 120);
  font-size: 60px;
  font-weight: 600;
  margin-top: 16px;
}

.temperature-icon {
  width: 64px;
  margin-top: 8px;
}

.temperature-value, .temperature-unit {
  margin-top: 16px;
}

.temperature-unit {
  font-size: 28px;
}

.current-city {
  font-size: 22px;
}

.temperature-description {
  font-size: 20px;
}

/* Weather Forecast */
.weather-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  padding: 14px;
  width: calc(100% - 14px);
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 10px;
}

.weather-forecast-icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.weather-forecast-temperature {
  display: flex;
  justify-content: space-between;
}

/* Icons */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
